
html{
  font-family: Arial, Helvetica, sans-serif;
  background-color:hsl(201, 60%, 25%) ;
}


header {
  background-color:hsl(34, 48%, 84%) ;
  height: 70px;
  margin: 0%;

  }

  .logo {
    height: 21px;
    padding: 1em;

    @media (min-width: 620px) {
      height: 32px;
      max-width: 660px;
    }
  }

  h1 {
  font-size: 3em;
  background-image: url(logo.png);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  text-align: center;
}

article {
  margin-top:1em;
  width:22em;
 height:30em;
  display:grid;
  grid-template-columns: 1fr 2fr;
   grid-template-rows: repeat(6, 1fr);
  background-color: hsl(168, 38%, 67%);
   border-radius:2em;
  
}

img { 

  border-radius:2em;
  padding:1em;
  height:28em;
  width: 6.5em;
  object-fit: cover;
  grid-row: 1 / -1;}


h3 {
    grid-row-start: 1;
  font-size:20px;
  margin-top:14px;
  padding-left:.5em;
 margin-bottom:0;
}

 ul {
   grid-row: 2 ;
    display: flex;
    flex-direction: row;
    gap: 8px;
    list-style: none;
    flex-wrap: wrap;
   padding:0 1em;
}

li {
  font-size:14px;
  background-color: hsl(201, 60%, 25%);
  color:hsl(34, 48%, 84%);
  padding: 5px 10px;
  border-radius: 15px;
  
}

p {
  grid-row-start: 3;
  grid-row-end: 5;
  font-size:16px;
  line-height:1.5;
  border-top: solid 2px hsl(201, 60%, 25%);
 margin:1em;
 padding-top:.5em;
}

div{
grid-row-start: 6;
  padding:1em;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap:.5em;
}


.leesmeer {
  background-color:hsl(34, 48%, 84%);
   padding:16px;
  height:10px;
  width:5em;
   border-radius:.4em;
  font-weight:bold;
  text-decoration: none;
  color:hsl(201, 60%, 25%);
}

button {
    display:flex;
  align-items:center;
  justify-content:center;
   background-color:hsl(34, 48%, 84%);
   border-radius:.2em;
  border:none;
 height:40px; 
  width:40px;
}


.buttonsLike{
fill:hsla(201, 60%, 25%, .6 );

}

 @keyframes --like-it-animation {
  0% {
    scale:1;
  }
	50% {
		scale:1.7;
	}
	100% {
		scale:1.2;
	}
}

.buttonsLike.liked{
  animation-name:--like-it-animation;
	animation-duration:.5s;
	animation-iteration-count:2;
	animation-fill-mode:forwards;
	fill:hsl(201, 60%, 25%);
  stroke:hsl(201, 60%, 25%);
  }