html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(201, 60%, 25%);
  background-image: url(bg-svg-light.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: fixed;
}

body {
  padding: 0;
  margin: 0;
  @media (min-width: 380px) {
    article {
      width: 22em;
    }
    img {
      width: 6em;
    }
  }
  @media (min-width: 440px) {
    article {
      width: 25em;
    }
    img {
      width: 7em;
    }
  }

  @media (min-width: 500px) {
    article {
      width: 27em;
    }
    img {
      width: 8em;
    }
  }

  @media (min-width: 720px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
    }
    h2 {
      grid-column: 1 / -1;
    }
    article {
      width: 20em;
    }
    img {
      width: 4em;
    }
  }

  @media (min-width: 820px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
    }
    h2 {
      grid-column: 1 / -1;
    }
    article {
      width: 23em;
    }
    img {
      width: 7em;
    }
  }

  @media (min-width: 1000px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
    }

    h2 {
      grid-column: 1 / -1;
    }
    article {
      width: 28em;
    }
    img {
      width: 8em;
    }
  }

  @media (min-width: 1200px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
    }

    h2 {
      grid-column: 1 / -1;
    }
    article {
      width: 32em;
    }
    img {
      width: 11em;
    }
  }

  @media (min-width: 1400px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1em;
    }

    article {
      width: 25em;
    }

    img {
      width: 8em;
    }
  }

  @media (min-width: 1600px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1em;
    }

    article {
      width: 30em;
    }

    img {
      width: 10em;
    }
  }
}

header {
  background-color: hsl(34, 48%, 84%);
  height: 70px;
  margin: 0%;
}

.logo {
  height: 21px;
  padding: 1em;
  fill: black;

  @media (min-width: 620px) {
    height: 32px;
    max-width: 660px;
  }
}

h1 {
  font-size: 3em;
  background-image: url(logo.png);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
margin-left: 4%;
}

.sorteer {
  padding-bottom: 0%;
  color: hsl(34, 48%, 84%);
  height: 1.5em;
}
form {
  margin-left: 4%;
  margin-right: 4%;
  
}

details {
  display: inline-table;
  background-color: hsl(34, 48%, 84%);
  border-radius: 2px;
  padding: 0.5em 0.5em 0;
  margin-right: 3%;
  width: fit-content;
  box-shadow: 3px 1px 1px rgba(0, 0, 0, 0.315);
  align-self: center;
  margin-bottom: 5%;
  color: black;
  width: 10em;
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    transform: translate3d(0, 0.3em, 0);
    transition: 1s;
  }
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

.filter {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  background-color: hsl(34, 48%, 84%);
  width: inherit;
  box-shadow: 3px 1px 1px rgba(0, 0, 0, 0.315);
  align-self: center;
  width: 10.5em;
  margin-left: -1em;
  padding: 4px;
  margin-top: 4px;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

details[open]::details-content {
  border-radius: 4em;
  padding: 0.5em 0.5em 0.5em;
}

input {
  display: block;
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
}

label {
  background-color: hsla(168, 38%, 67%, 0.795);
  display: flex;
  padding: 0.5em;
  margin: .1em;
  box-shadow: 1px;


  /*  als je over de label hover dan krijgt het een grijze kleur  */
  &:hover {
    background-color: hsla(201, 60%, 25%, 0.6);
    color: white;
  }
  /*  als de label ingeklikt wordt dan krijgt het een ander kleur  */
  &:active {
    background-color: black;
  }
}

/* als de filter aangevinkt is, dan krijgt hij een ander kleur */
input[type="radio"]:checked + label {
  border-color: black;
  background-color: hsla(201, 60%, 25%);
  color: #ffffff;
}

h2 {
  color: hsl(34, 48%, 84%);
  font-size: 40px;
}

section {
  align-items: center;
  margin-left: 5%;
}
article {
  width: 20em;
  margin-top: 1em;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  background-color: hsl(168, 38%, 67%);
  border-radius: 1em;
  grid-template-areas:
    "img h3 h3"
    "img ul ul"
    "img p p"
    "img p p"
    "img div div";

}

img {
  grid-area: img;
  width: 4em;
  height: 42em;
  border-radius: 1.5em;
  padding: 0.5em;
  object-fit: cover;
}

h3 {
  grid-area: h3;
  font-size: 23px;
  margin-top: 20px;
  padding-left: 0.5em;
  margin-bottom: 0;
}

ul {
  grid-area: ul;
  display: flex;
  gap: 10px;
  list-style: none;
  flex-wrap: wrap;
  padding: 0 1em;
}

li {
  height: 14px;
  font-size: 14px;
  background-color: hsl(201, 60%, 25%);
  color: hsl(34, 48%, 84%);
  padding: 5px 10px;
  border-radius: 15px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  border-top: solid 2px hsl(201, 60%, 25%);
  margin: 1em;
  padding-top: 1em;
  height: 12em;
  width: 13em;
  overflow: scroll;
}

div {
  grid-area: div;
  padding: 1em;
  display: flex;
  gap: 0.5em;
}

.leesmeer {
 
  background-color:hsl(34, 48%, 84%);
   padding:16px;
  height:10px;
  width:5em;
   border-radius:.4em;
  font-weight:bold;
  text-decoration: none;
  color:hsl(201, 60%, 25%);
}

button {
    display:flex;
  align-items:center;
  justify-content:center;
   background-color:hsl(34, 48%, 84%);
   border-radius:.2em;
  border:none;
 height:40px; 
  width:40px;
}

svg {
  fill:hsla(201, 60%, 25%, .6 );
    cursor: pointer;


}


 @keyframes --like-it-animation {
  0% {
    scale:1;
  }
	50% {
		scale:1.7;
	}
	100% {
		scale:1.2;
	}
}

.liked svg{
  animation-name:--like-it-animation;
	animation-duration:.5s;
	animation-iteration-count:2;
	animation-fill-mode:forwards;
	fill:hsl(201, 60%, 25%);
  stroke:hsl(201, 60%, 25%);
  }