
html{
  font-family: Arial, Helvetica, sans-serif;
  background-color:hsl(201, 60%, 25%) ;
  background-image: url(bg-svg-light.svg) ;
  Background-size:contain;
  background-repeat: no-repeat;
  background-position: fixed;

}

 body {
 
  @media (min-width: 400px) {
 
    article {
      width: 25em;
    }}
  

  @media (min-width: 766px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
    }

    h2 {
      grid-column: 1 / -1;
    }
    article {
      width: 25em;
    }}


  @media (min-width: 1000px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
    }

    h2 {
      grid-column: 1 / -1;
    }
    article {
      width: 30em;
    }}

  

    @media (min-width: 1400px) {
      section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
      }

      article {
        width: 28em;
      }
    }}
  
     


header {
  background-color:hsl(34, 48%, 84%) ;
  height: 70px;
  margin: 0%;
  }

  .logo {
    height: 21px;
    padding: 1em;
    fill: black;

    @media (min-width: 620px) {
      height: 32px;
      max-width: 660px;
    }
  }

  h1 {
  font-size: 3em;
  background-image: url(logo.png);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}


h2{
  color: hsl(34, 48%, 84%) ;
}

section{
align-items: center;
margin-left:5%;

}
article {
  margin-top:1em;
  height: 38em;
  display:grid;
  grid-template-columns: 1fr 2fr;
   grid-template-rows: 1fr 1fr 2fr 1fr;
  background-color: hsl(168, 38%, 67%);
   border-radius:2em;
   grid-template-areas: 
  "img h3 h3"
  "img ul ul"
  "img p p"
  "img p p"
  "img div div"
;
}

img { 
  grid-area: img;
  width: 5em;
  height: 36em;
  border-radius:2em;
  padding:1em;
  object-fit: cover;
}


h3 {
    grid-area: h3;
  font-size:23px;
  margin-top:20px;
  padding-left:.5em;
 margin-bottom:0;
}

 ul {
    grid-area: ul;
    display: flex;
    gap: 10px;
    list-style: none;
    flex-wrap: wrap;
   padding:0 1em;
}

li {
  height: 14px;
  font-size:14px;
  background-color: hsl(201, 60%, 25%);
  color:hsl(34, 48%, 84%);
  padding: 5px 10px;
  border-radius: 15px;
  
}

p {
  font-size:16px;
  line-height:1.5;
  border-top: solid 2px hsl(201, 60%, 25%);
 margin:1em;
 padding-top:1em;
 height: 12em;
 width: 13em;
overflow: scroll;
  
}

div{
    grid-area: div;
  padding:1em;
  display:flex;
  gap:.5em;
}


.leesmeer {
 
  background-color:hsl(34, 48%, 84%);
   padding:16px;
  height:10px;
  width:5em;
   border-radius:.4em;
  font-weight:bold;
  text-decoration: none;
  color:hsl(201, 60%, 25%);
}

button {
    display:flex;
  align-items:center;
  justify-content:center;
   background-color:hsl(34, 48%, 84%);
   border-radius:.2em;
  border:none;
 height:40px; 
  width:40px;
}


svg{
fill:hsla(201, 60%, 25%, .6 );

}

 @keyframes --like-it-animation {
  0% {
    scale:1;
  }
	50% {
		scale:1.7;
	}
	100% {
		scale:1.2;
	}
}

svg.liked{
  animation-name:--like-it-animation;
	animation-duration:.5s;
	animation-iteration-count:2;
	animation-fill-mode:forwards;
	fill:hsl(201, 60%, 25%);
  stroke:hsl(201, 60%, 25%);
  }